<p style="font-size:300%;font-family:Source Sans Pro;text-align:center;line-height:50px;">Final Project<br>FUEL PRODUCTION VS COMSUMPTION</p>

<table style="width:100%;font-family:'Roboto'; font-size:120%">
  <tr>
    <th colspan="3" style="text-align: center; vertical-align: middle;">
      MEMBERS & TASKS  
    </th>
  </tr>
  <tr>
    <th style="text-size:150%; text-align: center; vertical-align: middle;">ID</th>
    <th style="text-align: center; vertical-align: middle;">NAME</th>
    <th style="text-align: center; vertical-align: middle;">TASK</th>
  </tr>
  <tr>
    <td style="text-align: left; vertical-align: middle;">20127597</td>
    <td style="text-align: left; vertical-align: middle;">Bùi Tấn Phương</td>
  </tr>
  <tr>
    <td style="text-align: left; vertical-align: middle;">20127525</td>
    <td style="text-align: left; vertical-align: middle;">Trần Quốc Trung</td>
  </tr>
</table>

In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Data collection:

**Subject:** Fuel production vs comsumption world  
**Source:** [Fuel Production and Consumption(1980-2021)](https://www.kaggle.com/datasets/shawkatsujon/worldwide-fuel-production-and-consumption)  
**Author's consent & License:** This dataset was uploaded on Kaggle by [Shawkat Sujon](https://www.kaggle.com/shawkatsujon) and had [CC0: Public Domain](https://creativecommons.org/publicdomain/zero/1.0/) license.  
**Author data collection method:** Unknown.

# 2. Exploring data:

In [2]:
df = pd.read_csv('Fuel production vs consumption.csv')
df.head(10);

We should validate column name.

In [3]:
columns_name = df.columns.tolist()
df.columns = list(map(lambda x : x.replace('�', '3'), columns_name))

df.head()

,Year,Entity,Gas production(m3),Gas consumption(m3),Coal production(Ton),Coal consumption(Ton),Oil production(m3),Oil consumption(m3),Gas production per capita(m3),Gas consumption per capita(m3),Coal production per capita(Ton),Coal consumption per capita(Ton),Oil production per capita(m3),Oil consumption per capita(m3),Population
0,1980,Afghanistan,1.699000e+09,56640000.0,119000.0,119000.0,0.0,406500.0,127.2,4.241,0.00891,0.00891,0.0,0.03043,13360000.0
1,1981,Afghanistan,2.237000e+09,84960000.0,125000.0,125000.0,0.0,464600.0,169.9,6.450,0.00949,0.00949,0.0,0.03527,13170000.0
2,1982,Afghanistan,2.294000e+09,141600000.0,145000.0,145000.0,0.0,452900.0,178.1,10.990,0.01126,0.01126,0.0,0.03516,12880000.0
3,1983,Afghanistan,2.407000e+09,141600000.0,145000.0,145000.0,0.0,638800.0,192.0,11.290,0.01157,0.01157,0.0,0.05095,12540000.0
4,1984,Afghanistan,2.407000e+09,141600000.0,148000.0,148000.0,0.0,638800.0,197.2,11.600,0.01213,0.01213,0.0,0.05234,12200000.0

## Number of rows and columns?

In [4]:
n_rows, n_cols = df.shape
print(f'Dataset has {n_rows} rows and {n_cols} columns!')

Dataset has 9237 rows and 15 columns!

## Are there any duplicates?

In [5]:
any(df.duplicated())

False

## Meaning of each columns:

- `Year`: year measurement
- `Entity`: country where measure
- `Gas production(m³)`: amount of gas produced
- `Gas consumption(m³)`: amount of gas consumed
- `Coal production(Ton)`: amount of coal produced
- `Coal consumption(Ton)`: amount of coal comsumed
- `Oil production(m³)`:	amount of oil produced
- `Oil consumption(m³)`: amount of oil comsumed
- `Gas production per capita(m³)`: amount of gas produced per capita
- `Coal production per capita(Ton)`: amount of produced per capita(Ton)
- `Oil production per capita(m³)`: amount of oil produced per capita(m³)
- `Population`: country's population

## Data type:

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9237 entries, 0 to 9236
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Year                              9237 non-null   int64
 1   Entity                            9237 non-null   object
 2   Gas production(m3)                8708 non-null   float64
 3   Gas consumption(m3)               8689 non-null   float64
 4   Coal production(Ton)              8817 non-null   float64
 5   Coal consumption(Ton)             8817 non-null   float64
 6   Oil production(m3)                8792 non-null   float64
 7   Oil consumption(m3)               8555 non-null   float64
 8   Gas production per capita(m3)     7689 non-null   float64
 9   Gas consumption per capita(m3)    7671 non-null   float64
 10  Coal production per capita(Ton)   7757 non-null   float64
 11  Coal consumption per capita(Ton)  7757 non-null   float64
 12  Oil production per capita(m3)     7820 non-null   float64
 13  Oil consumption per capita(m3)    7601 non-null   float64
 14  Population                        8132 non-null   float64
dtypes: float64(13), int64(1), object(1)
memory usage: 1.1+ MB

**&rarr; Everything is OK!**

## Distribution:

### Numeric:

In [7]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,9237.00,2000.44,12.44,1973.00,1990.00,2001.00,2011.00,2021.00
Gas production(m3),8708.00,23830234822.10,189663971009.45,0.00,0.00,0.00,1614000000.00,4039000000000.00
Gas consumption(m3),8689.00,23924192132.40,189160797178.19,0.00,0.00,0.00,3981000000.00,4004000000000.00
Coal production(Ton),8817.00,52618013.27,435565854.07,0.00,0.00,0.00,172000.00,8144000000.00
Coal consumption(Ton),8817.00,52159146.89,434986908.86,0.00,0.00,1221.00,2001000.00,8179000000.00
Oil production(m3),8792.00,41411322.10,290160690.87,0.00,0.00,0.00,3194000.00,4817000000.00
Oil consumption(m3),8555.00,45507577.15,326864087.39,0.00,323300.00,1568000.00,12070000.00,5820000000.00
Gas production per capita(m3),7689.00,963.57,4554.54,0.00,0.00,0.00,112.10,71520.00
Gas consumption per capita(m3),7671.00,612.62,2008.36,0.00,0.00,1.41,450.50,27160.00
Coal production per capita(Ton),7757.00,0.42,1.58,0.00,0.00,0.00,0.02,21.77
Coal consumption per capita(Ton),7757.00,0.43,1.03,0.00,0.00,0.00,0.25,7.09
Oil production per capita(m3),7820.00,2.41,11.33,0.00,0.00,0.00,0.28,233.00
Oil consumption per capita(m3),7601.00,1.39,4.26,0.00,0.15,0.58,1.65,125.80
Population,8132.00,67194219.57,470969665.28,959.00,1308750.00,6651000.00,21447500.00,7786000000.00

In [8]:
numeric_df = df.iloc[:, 2:15]
numeric_miss_cnt = numeric_df.isnull().sum(axis=0)
numeric_miss_percent = (numeric_miss_cnt / n_rows * 100).round(2)

pd.DataFrame({'Count':numeric_miss_cnt, '%':numeric_miss_percent})

                                  Count     %
Gas production(m3)                  529  5.73
Gas consumption(m3)                 548  5.93
Coal production(Ton)                420  4.55
Coal consumption(Ton)               420  4.55
Oil production(m3)                  445  4.82
Oil consumption(m3)                 682  7.38
Gas production per capita(m3)      1548 16.76
Gas consumption per capita(m3)     1566 16.95
Coal production per capita(Ton)    1480 16.02
Coal consumption per capita(Ton)   1480 16.02
Oil production per capita(m3)      1417 15.34
Oil consumption per capita(m3)     1636 17.71
Population                         1105 11.96

### Categorical:

In [9]:
categorical_miss_count = df.Entity.isnull().sum()
categorical_miss_percent = (categorical_miss_count / n_rows * 100).round(2)
categorical_diff_val = pd.unique(df.Entity)
categorical_num_diff_val = len(categorical_diff_val)

pd.DataFrame([categorical_miss_count, categorical_miss_percent,
              categorical_num_diff_val, categorical_diff_val],
              columns=['Entity'], index=['Missing Count', 'Missing percent', 'Number of unique values', 'Some unique values']).T

,Missing Count,Missing percent,Number of unique values,Some unique values
Entity,0,0.00,231,"[Afghanistan, Albania, Algeria, American Samoa..."

## Is data valid?
We should check ***Production***, ***Consumption*** with ***capita*** value
<p style="color:red; font-size:20px;">
    Note: We should discuss more about this problem!
</p>

In [39]:
condition = (abs((df['Gas production(m3)'] / df['Population']).round(2) - df['Gas production per capita(m3)']) > 1) |\
            (abs((df['Gas consumption(m3)'] / df['Population']).round(2) - df['Gas consumption per capita(m3)']) > 1) |\
            (abs((df['Coal production(Ton)'] / df['Population']).round(2) - df['Coal production per capita(Ton)']) > 1) |\
            (abs((df['Coal consumption(Ton)'] / df['Population']).round(2) - df['Coal consumption per capita(Ton)']) > 1) |\
            (abs((df['Oil production(m3)'] / df['Population']).round(2) - df['Oil production per capita(m3)']) > 1) |\
            (abs((df['Oil consumption(m3)'] / df['Population']).round(2) - df['Oil consumption per capita(m3)']) > 1)

In [40]:
df[condition]

,Year,Entity,Gas production(m3),Gas consumption(m3),Coal production(Ton),Coal consumption(Ton),Oil production(m3),Oil consumption(m3),Gas production per capita(m3),Gas consumption per capita(m3),Coal production per capita(Ton),Coal consumption per capita(Ton),Oil production per capita(m3),Oil consumption per capita(m3),Population
452,2016,Australia,86900000000.00,43290000000.00,508400000.00,118900000.00,16830000.00,64730000.00,3581.00,1784.00,20.96,4.90,0.69,2.67,24260000.00
453,2017,Australia,105300000000.00,45250000000.00,505700000.00,114900000.00,15280000.00,67600000.00,4282.00,1841.00,20.57,4.67,0.62,2.75,24580000.00
455,2019,Australia,146000000000.00,50650000000.00,511900000.00,101600000.00,20950000.00,68180000.00,5792.00,2010.00,20.31,4.03,0.83,2.71,25200000.00
583,1984,Bahrain,3767000000.00,3767000000.00,0.00,0.00,2385000.00,929100.00,9249.00,9249.00,0.00,0.00,5.86,2.28,407200.00
584,1985,Bahrain,4644000000.00,4644000000.00,0.00,0.00,2464000.00,929100.00,11070.00,11070.00,0.00,0.00,5.88,2.21,419400.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8598,2003,United Arab Emirates,44800000000.00,37880000000.00,0.00,180000.00,136400000.00,28260000.00,12070.00,10210.00,0.00,0.05,36.73,7.61,3712000.00
8599,2004,United Arab Emirates,46300000000.00,40210000000.00,0.00,204000.00,143900000.00,29280000.00,11380.00,9884.00,0.00,0.05,35.37,7.20,4069000.00
8600,2005,United Arab Emirates,47000000000.00,41250000000.00,0.00,236000.00,147200000.00,30460000.00,10240.00,8991.00,0.00,0.05,32.09,6.64,4588000.00
8601,2006,United Arab Emirates,48800000000.00,43100000000.00,0.00,292400.00,153100000.00,32630000.00,9206.00,8131.00,0.00,0.06,28.88,6.16,5300000.00
8603,2008,United Arab Emirates,50250000000.00,59450000000.00,0.00,661000.00,163800000.00,36520000.00,7087.00,8385.00,0.00,0.09,23.10,5.15,7089000.00